{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Microblog{% else %}AI web{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ><a href="/welcome">welcome</a></li>
            <li class="active"><a href="/detect">Detect</a></li>
            <li><a href="/InformationDispaly">GAN</a></li>
            <li><a href="/IndexCollect">StyleTest</a></li>
            <li><a href="/NetAutoRun">Configuration</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}