<!DOCTYPE html>
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imageDetect</title>
</head>
<body>
{% block app_content %}

<h1>Image Detect Service</h1>
<form enctype='multipart/form-data' method='POST' action="detect/process">
     <label>Upload file :</label>
        <label class="file-box">
            <input type="file" name="file" title="Search for a file to add 1" style="margin-top:40px;"
                   class="btn-primary"/>
        </label>
    <br>
    <label style="margin-top:20px;">Picture link :</label>
    <input type="text" class="txt_input" name="imageLink" value=""
           style="margin-top:5px;width:400px"/>
    <br>



    <!--<i>Please enter parameters:</i>-->
    <!--<input type="text" class="txt_input" name="name" value="detect" style="margin-top:10px;"/>-->
    <!--<br>-->
    <br>
    <input type="submit" value="submit" class="btn btn-primary btn-sm" style="margin-top:80px;margin-left:385px;width:100px"/>
</form>

{% endblock %}
</body>
